.sidebar {
    margin: 120px 0 20px 65px !important;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.sidebar-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.title-text-icon {
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.accordion-text {
    margin-left: 10px;
}

.accordion-time {
    float: right;
}

.ac-icon {
    margin-top: -4px;
    font-size: 16px;
}

.icon-toggle {
    float: right;
    border: none;
    background: none;
}

.ch-custom {
    height: 43px;
    background-color: #EEFAFF !important;
    padding: 8px 16px 0  16px !important;
}

.cb-custom {
    height: auto !important;
    border-bottom: 1px solid #DDDDDD;
    padding: 0 !important;
}

.cb-item {
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.cb-item-active {
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
    border-left: 2px solid #FF0F51;
}

.cb-custom-active {
    height: auto !important;
    border-bottom: 1px solid #DDDDDD;
    border-left: 2px solid #FF0F51;
    padding: 0 !important;
}